body{
  background-color: #7674e2;
  color: White;
}
a{
  text-decoration: none;
  color: White;
  font-family: 'Proxima nova', sans-serif;
  font-size: 20px;

}
ul li{
  list-style-type: none;
display: inline-block;
padding: 19px 0px 10px 30px;

}
ul li a:hover{
color: #4f38b5;
}
.navbar{
  position: absolute;
margin-left: 61%;
}

h1{
  font-family: 'Corbel';
  color: White;
  position: fixed;
  font-size: 35px;
  left: 10%;
  top: 4%;
}
h2{
  font-family: 'Corbel';
  color: White;
  position: fixed;
  font-size: 65px;
  top: 21%;
  left: 10%;
}
img{
  position: absolute;
  left: 60%;
  top: 23%;
}
h3{
  font-family: 'Corbel';
  color: White;
  position: absolute;
  font-size: 25px;
  top: 46%;
  left: 10%;
  font-weight: lighter;
}
h4{
  font-family: 'Corbel';
  color: White;
  position: absolute;
  font-size: 35px;
  top: 63%;
  left: 10%;
}
.button{
  text-decoration: none;
  font-family: 'Corbel';
  color: White;
  position: fixed;
  font-size: 35px;
  left: 10%;
  top: 70%;
}
a.button{
  background-color: #f9f657;
  border-radius: 10px;
  width: 220px;
  text-align: center;
  height: 65px;
  font-size: 30px;
  font-weight: bold;
  line-height: 67px;
  color: white;
border: 10px;
top: 73%;
}
a.button:hover{
  background-color: #4f38b5;
}

a.button:active {
  transform: translateY(4px);
}
