body{
  background-color: #7674e2;
  color: White;
}
a{
  text-decoration: none;
  color: White;
  font-family: 'Proxima nova', sans-serif;
  font-size: 20px;

}
form{
  position: absolute;
  top: 30%;
  left: 73%;
}
ul li{
list-style-type: none;
display: inline-block;
padding: 19px 0px 10px 30px;
}
ul li a:hover{
color: #4f38b5;
}
.navbar{
position: absolute;
margin-left: 61%;
}
h1{
  font-family: 'Corbel';
  color: White;
  position: absolute;
  font-size: 35px;
  left: 10%;
  top: 4%;
}
img{
  position: absolute;
  top: 23%;
  left: 15%;
}
h2{
  position: absolute;
  top: 17%;
  font-family: 'Corbel';
  color: White;
  left: 59%;
  font-size: 55px;
}

h3{
  position: absolute;
  top: 30%;
  font-family: 'Corbel';
  color: White;
  font-size: 35px;
  left: 45%;
}
.phone a{
  position: absolute;
  top: 37%;
  font-size: 30px;
  left: 45%;
}
address{

  position: absolute;
  top: 45%;
  font-size: 27px;
  left: 45%;
}
p a{
  position: absolute;
  top: 58%;
  font-size: 27px;
  left: 45%;
  font-style: italic;
  font-weight: lighter;
}
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.text{
  position: absolute;
  top: 30%;
  left: 70%;
}
label {
  display: inline-block;
}
.button {
  position: absolute;
  background-color: #04AA6D;
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  padding: 2.7px;
  width: 100%;
  height: 40px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  top: 102%;
  left: 0%;
}

.button:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.col-25 {
  float: left;
  width: 200px;
}

.col-75 {
  float: left;
  width: 150%;
  margin-top: 3px;
}


@media only screen and (min-device-width : 200px) and (max-device-width : 303px){
  h1{
    position: absolute;
    top: 4%;
    font-size: 75px;
    left: 19%;
  }
  a{
    text-decoration: none;
    color: White;
    font-family: 'Proxima nova', sans-serif;
    font-size: 40px;

  }
  ul li{
    list-style-type: none;
    display: inline-block;
    padding: 19px 0px 10px 30px;

  }

  .navbar{
    position: absolute;
    margin-left: 7%;
    top: 11%;
  }
  img{
    position: absolute;
    top: 20%;
    left: 28%;
    width: 700px;
    height: 700px;
  }
  h2{
    position: absolute;
    top: 60%;
    left: 27%;
    font-size: 85px;
  }
  .text{
    position: absolute;
    top: 66%;
    left: 6%;
    font-size: 35px;
  }
  input[type=text], select, textarea {
    width: 140%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  .button {
    position: absolute;
    font-size: 35px;
    width: 140%;
    height: 70px;
    text-align: center;
    top: 104%;
    left: 0%;
  }
  h3{
    position: absolute;
    top: 103%;
    font-family: 'Corbel';
    color: White;
    font-size: 75px;
    left: 6%;
  }
  .phone a{
    position: absolute;
    top: 104%;
    font-size: 45px;
    left: 54%;
  }
  address{

    position: absolute;
    top: 108%;
    font-size: 45px;
    left: 54%;
  }
  p a{
    position: absolute;
    top: 116%;
    font-size: 39px;
    left: 54%;
  }
}
@media screen and (min-device-width: 304px) and (max-device-width : 380px){
  h1{
    position: absolute;
    top: 4%;
    font-size: 75px;
    left: 19%;
  }
  a{
    text-decoration: none;
    color: White;
    font-family: 'Proxima nova', sans-serif;
    font-size: 40px;

  }
  ul li{
    list-style-type: none;
    display: inline-block;
    padding: 19px 0px 10px 30px;

  }

  .navbar{
    position: absolute;
    margin-left: 7%;
    top: 11%;
  }
  img{
    position: absolute;
    top: 20%;
    left: 28%;
    width: 700px;
    height: 700px;
  }
  h2{
    position: absolute;
    top: 60%;
    left: 27%;
    font-size: 85px;
  }
  .text{
    position: absolute;
    top: 66%;
    left: 6%;
    font-size: 35px;
  }
  input[type=text], select, textarea {
    width: 140%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  .button {
    position: absolute;
    font-size: 35px;
    width: 140%;
    height: 70px;
    text-align: center;
    top: 104%;
    left: 0%;
  }
  h3{
    position: absolute;
    top: 103%;
    font-family: 'Corbel';
    color: White;
    font-size: 75px;
    left: 6%;
  }
  .phone a{
    position: absolute;
    top: 104%;
    font-size: 45px;
    left: 54%;
  }
  address{

    position: absolute;
    top: 108%;
    font-size: 45px;
    left: 54%;
  }
  p a{
    position: absolute;
    top: 116%;
    font-size: 39px;
    left: 54%;
  }
}
@media screen and (min-device-width: 381px) and (max-device-width : 414px){
  h1{
    position: absolute;
    top: 4%;
    font-size: 75px;
    left: 19%;
  }
  a{
    text-decoration: none;
    color: White;
    font-family: 'Proxima nova', sans-serif;
    font-size: 40px;

  }
  ul li{
    list-style-type: none;
    display: inline-block;
    padding: 19px 0px 10px 30px;

  }

  .navbar{
    position: absolute;
    margin-left: 7%;
    top: 11%;
  }
  img{
    position: absolute;
    top: 20%;
    left: 28%;
    width: 700px;
    height: 700px;
  }
  h2{
    position: absolute;
    top: 55%;
    left: 27%;
    font-size: 85px;
  }
  .text{
    position: absolute;
    top: 61%;
    left: 6%;
    font-size: 35px;
  }
  input[type=text], select, textarea {
    width: 140%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  .button {
    position: absolute;
    font-size: 30px;
    width: 140%;
    height: 70px;
    text-align: center;
    top: 104%;
    left: 0%;
  }
  h3{
    position: absolute;
    top: 92%;
    font-family: 'Corbel';
    color: White;
    font-size: 75px;
    left: 6%;
  }
  .phone a{
    position: absolute;
    top: 92.8%;
    font-size: 45px;
    left: 54%;
  }
  address{

    position: absolute;
    top: 96%;
    font-size: 45px;
    left: 54%;
  }
  p a{
    position: absolute;
    top: 103%;
    font-size: 39px;
    left: 54%;
  }
}
@media only screen and (min-device-width : 200px) and (max-device-width : 303px){
  h1{
    position: absolute;
    top: 4%;
    font-size: 75px;
    left: 19%;
  }
  a{
    text-decoration: none;
    color: White;
    font-family: 'Proxima nova', sans-serif;
    font-size: 40px;

  }
  ul li{
    list-style-type: none;
    display: inline-block;
    padding: 19px 0px 10px 30px;

  }

  .navbar{
    position: absolute;
    margin-left: 7%;
    top: 11%;
  }
  img{
    position: absolute;
    top: 20%;
    left: 28%;
    width: 700px;
    height: 700px;
  }
  h2{
    position: absolute;
    top: 60%;
    left: 27%;
    font-size: 85px;
  }
  .text{
    position: absolute;
    top: 66%;
    left: 6%;
    font-size: 35px;
  }
  input[type=text], select, textarea {
    width: 140%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  .button {
    position: absolute;
    font-size: 35px;
    width: 140%;
    height: 70px;
    text-align: center;
    top: 104%;
    left: 0%;
  }
  h3{
    position: absolute;
    top: 103%;
    font-family: 'Corbel';
    color: White;
    font-size: 75px;
    left: 6%;
  }
  .phone a{
    position: absolute;
    top: 104%;
    font-size: 45px;
    left: 54%;
  }
  address{

    position: absolute;
    top: 108%;
    font-size: 45px;
    left: 54%;
  }
  p a{
    position: absolute;
    top: 116%;
    font-size: 39px;
    left: 54%;
  }
}

@media only screen and (min-device-width : 415px) and (max-device-width : 820px){
  .navbar{
  position: absolute;
  margin-left: 45%;
  top: 2%;
  font-size: 50px;
  }
  h1{
    font-family: 'Corbel';
    color: White;
    position: absolute;
    font-size: 45px;
    left: 10%;
    top: 4%;
  }
  img{
    position: absolute;
    top: 15%;
    left: 35%;
  }
  h2{
    position: absolute;
    top: 55%;
    font-family: 'Corbel';
    color: White;
    left: 35%;
    font-size: 65px;
  }

  h3{
    position: absolute;
    top: 110%;
    font-family: 'Corbel';
    color: White;
    font-size: 50px;
    left: 9%;
  }
  .phone a{
    position: absolute;
    top: 110.5%;
    font-size: 37px;
    left: 58%;
  }
  address{

    position: absolute;
    top: 115%;
    font-size: 37px;
    left: 58%;
  }
  p a{
    position: absolute;
    top: 124%;
    font-size: 30px;
    left: 58%;
    font-style: italic;
    font-weight: lighter;
  }

  input[type=text], select, textarea {
    width: 140%;
  }
  .text{
    position: absolute;
    top: 63%;
    font-size: 30px;
    left: 9.5%;
  }

  .button {
    position: absolute;
    font-size: 30px;
    width: 140%;
    height: 70px;
    text-align: center;
    top: 105%;
    left: 0%;
  }

}
@media only screen and (min-device-width : 821px) and (max-device-width : 999px){
  .navbar{
  position: absolute;
  margin-left: 45%;
  top: 2%;
  font-size: 50px;
  }
  h1{
    font-family: 'Corbel';
    color: White;
    position: absolute;
    font-size: 45px;
    left: 10%;
    top: 4%;
  }
  img{
    position: absolute;
    top: 15%;
    left: 35%;
  }
  h2{
    position: absolute;
    top: 55%;
    font-family: 'Corbel';
    color: White;
    left: 35%;
    font-size: 65px;
  }

  h3{
    position: absolute;
    top: 110%;
    font-family: 'Corbel';
    color: White;
    font-size: 50px;
    left: 9%;
  }
  .phone a{
    position: absolute;
    top: 110.5%;
    font-size: 37px;
    left: 58%;
  }
  address{

    position: absolute;
    top: 115%;
    font-size: 37px;
    left: 58%;
  }
  p a{
    position: absolute;
    top: 124%;
    font-size: 30px;
    left: 58%;
    font-style: italic;
    font-weight: lighter;
  }

  input[type=text], select, textarea {
    width: 140%;
  }
  .text{
    position: absolute;
    top: 63%;
    font-size: 30px;
    left: 9.5%;
  }

  .button {
    position: absolute;
    font-size: 30px;
    width: 140%;
    height: 70px;
    text-align: center;
    top: 105%;
    left: 0%;
  }

}
@media only screen and (min-device-width : 1000px) and (max-device-width : 1025px){
  .navbar{
  position: absolute;
  margin-left: 50%;
  }
  h1{
    font-family: 'Corbel';
    color: White;
    position: absolute;
    font-size: 35px;
    left: 10%;
    top: 4%;
  }
  img{
    position: absolute;
    top: 23%;
    left: 15%;
    width: 400px;
    height: 400px;
  }
  h2{
    position: absolute;
    top: 17%;
    font-family: 'Corbel';
    color: White;
    left: 59%;
    font-size: 55px;
  }

  h3{
    position: absolute;
    top: 115%;
    font-family: 'Corbel';
    color: White;
    font-size: 35px;
    left: 50%;
  }
  .phone a{
    position: absolute;
    top: 115%;
    font-size: 27px;
    left: 75%;
  }
  address{

    position: absolute;
    top: 121%;
    font-size: 27px;
    left: 75%;
  }
  p a{
    position: absolute;
    top: 135%;
    font-size: 21px;
    left: 75%;
    font-style: italic;
    font-weight: lighter;
  }
  input[type=text], select, textarea {
    width: 110%;
    padding: 12px;
  }
  .text{
    position: absolute;
    top: 33%;
    left: 50%;
    font-size: 17px;
  }
  .button {
    position: absolute;
    font-size: 27px;
    width: 110%;
    height: 45px;
    text-align: center;
    top: 103%;
    left: 0%;
  }

}
@media only screen and (min-device-width : 1026px) and (max-device-width : 1200px){

}
