body{
  background-color: White;
  color: Black;
}

.naving a {
  position: absolute;
  text-decoration: none;
  color: #7674e2;
  font-family: 'Proxima nova', sans-serif;
  font-size: 20px;
 right: 7%;
 top: 4%;
}

.naving ul li{
display: inline-block;

}
.naving ul li a:active {
  transform: translateY(4px);
}
.naving{
list-style: none;
}

h1{
  position: absolute;
  font-family: 'Corbel';
  color: #7674e2;
  top: 4%;
  font-size: 35px;
  margin-left: 10%;
}

.row1 ul li{
list-style-type: none;
display: inline-block;
padding: 70px 15px 0px 10px;
}


.row2 ul li{
list-style-type: none;
display: inline-block;
padding: 70px 15px 0px 10px;
}
.row3 ul li{
list-style-type: none;
display: inline-block;
padding: 70px 15px 0px 10px;
}
.img1{
  width: 250px;
border-radius: 7px;
}
.img2{
  width: 250px;
border-radius: 7px;
}
.img3{
  width: 250px;
  border-radius: 7px;
}
.img4{
  width: 250px;
border-radius: 7px;
}
.img5{
  width: 250px;
border-radius: 7px;
}
.img6{
  width: 250px;
  border-radius: 7px;
}
.img7{
  width: 250px;
border-radius: 7px;
}
.img8{
  width: 250px;
border-radius: 7px;
}
.img9{
  width: 250px;
  border-radius: 7px;
}
.img10{
  width: 250px;
border-radius: 7px;
}

.img11{
  width: 250px;
  border-radius: 7px;
}
.img12{
  width: 250px;
border-radius: 7px;
}
.img13{
  width: 250px;
border-radius: 7px;
}

.image {
  position: relative;
  cursor: pointer;
}
/* .image::after {
  content: " ";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5), rgba(0,0,0,.5));
  opacity: 0;
  transition: .3s all;
  border-radius: 7px;
}
.image:hover::after {
  opacity: 1;
  display: block;
} */
.button1{
  text-decoration: none;
  font-family: 'Corbel';
  color: White;
  position: absolute;
  font-size: 20px;
  top: 67%;
  left: 2.7%;
}
a.button1 {
  background-color: #4f38b5;
  border-radius: 7px;
  width: 130px;
  text-align: center;
  height: 38px;
  font-weight: bold;
  line-height: 37px;
  color: white;
border: 10px;
}
a.button1:active {
  transform: translateY(4px);
}
.button2{
  text-decoration: none;
  font-family: 'Corbel';
  color: White;
  position: absolute;
  font-size: 20px;
  top: 67%;
  left: 21%;
}
a.button2 {
  background-color: #4f38b5;
  border-radius: 7px;
  width: 130px;
  text-align: center;
  height: 38px;
  font-weight: bold;
  line-height: 37px;
  color: white;
border: 10px;
}
a.button2:active {
  transform: translateY(4px);
}
.button3{
  text-decoration: none;
  font-family: 'Corbel';
  color: White;
  position: absolute;
  font-size: 20px;
  top: 67%;
  left: 39.3%;
}
a.button3 {
  background-color: #4f38b5;
  border-radius: 7px;
  width: 130px;
  text-align: center;
  height: 38px;
  font-weight: bold;
  line-height: 37px;
  color: white;
border: 10px;
}
a.button3:active {
  transform: translateY(4px);
}
.button4{
  text-decoration: none;
  font-family: 'Corbel';
  color: White;
  position: absolute;
  font-size: 20px;
  top: 67%;
  left: 58.1%;
}
a.button4 {
  background-color: #4f38b5;
  border-radius: 7px;
  width: 130px;
  text-align: center;
  height: 38px;
  font-weight: bold;
  line-height: 37px;
  color: white;
border: 10px;
}
a.button4:active {
  transform: translateY(4px);
}
.button5{
  text-decoration: none;
  font-family: 'Corbel';
  color: White;
  position: absolute;
  font-size: 20px;
  top: 67%;
  left: 76.4%;
}
a.button5 {
  background-color: #4f38b5;
  border-radius: 7px;
  width: 130px;
  text-align: center;
  height: 38px;
  font-weight: bold;
  line-height: 37px;
  color: white;
border: 10px;
}
a.button5:active {
  transform: translateY(4px);
}

.button6{
  text-decoration: none;
  font-family: 'Corbel';
  color: White;
  position: absolute;
  font-size: 20px;
  top: 134%;
  left: 2.7%;
}
a.button6 {
  background-color: #4f38b5;
  border-radius: 7px;
  width: 130px;
  text-align: center;
  height: 38px;
  font-weight: bold;
  line-height: 37px;
  color: white;
border: 10px;
}
a.button6:active {
  transform: translateY(4px);
}
.button7{
  text-decoration: none;
  font-family: 'Corbel';
  color: White;
  position: absolute;
  font-size: 20px;
  top: 134%;
  left: 21%;
}
a.button7 {
  background-color: #4f38b5;
  border-radius: 7px;
  width: 130px;
  text-align: center;
  height: 38px;
  font-weight: bold;
  line-height: 37px;
  color: white;
border: 10px;
}
a.button7:active {
  transform: translateY(4px);
}
.button8{
  text-decoration: none;
  font-family: 'Corbel';
  color: White;
  position: absolute;
  font-size: 20px;
  top: 134%;
  left: 39.3%;
}
a.button8{
  background-color: #4f38b5;
  border-radius: 7px;
  width: 130px;
  text-align: center;
  height: 38px;
  font-weight: bold;
  line-height: 37px;
  color: white;
border: 10px;
}
a.button8:active {
  transform: translateY(4px);
}
.button9{
  text-decoration: none;
  font-family: 'Corbel';
  color: White;
  position: absolute;
  font-size: 20px;
  top: 134%;
  left: 57.9%;
}
a.button9 {
  background-color: #4f38b5;
  border-radius: 7px;
  width: 130px;
  text-align: center;
  height: 38px;
  font-weight: bold;
  line-height: 37px;
  color: white;
border: 10px;
}
a.button9:active {
  transform: translateY(4px);
}
.button10{
  text-decoration: none;
  font-family: 'Corbel';
  color: White;
  position: absolute;
  font-size: 20px;
  top: 134%;
  left: 76.4%;
}
a.button10 {
  background-color: #4f38b5;
  border-radius: 7px;
  width: 130px;
  text-align: center;
  height: 38px;
  font-weight: bold;
  line-height: 37px;
  color: white;
border: 10px;
}
a.button10:active {
  transform: translateY(4px);
}
.button11{
  text-decoration: none;
  font-family: 'Corbel';
  color: White;
  position: absolute;
  font-size: 20px;
  top: 201%;
  left: 2.7%;
}
a.button11{
  background-color: #4f38b5;
  border-radius: 7px;
  width: 130px;
  text-align: center;
  height: 38px;
  font-weight: bold;
  line-height: 37px;
  color: white;
border: 10px;
}
a.button11:active {
  transform: translateY(4px);
}
.button12{
  text-decoration: none;
  font-family: 'Corbel';
  color: White;
  position: absolute;
  font-size: 20px;
  top: 201%;
  left: 21%;
}
a.button12 {
  background-color: #4f38b5;
  border-radius: 7px;
  width: 130px;
  text-align: center;
  height: 38px;
  font-weight: bold;
  line-height: 37px;
  color: white;
border: 10px;
}
a.button12:active {
  transform: translateY(4px);
}
.button13{
  text-decoration: none;
  font-family: 'Corbel';
  color: White;
  position: absolute;
  font-size: 20px;
  top: 201%;
  left: 41.9%;
}
a.button13 {
  background-color: #4f38b5;
  border-radius: 7px;
  width: 130px;
  text-align: center;
  height: 38px;
  font-weight: bold;
  line-height: 37px;
  color: white;
border: 10px;
}
a.button13:active {
  transform: translateY(4px);
}
p{
  font-size: 19px;
}
